auto-install-peers=false
strict-peer-dependencies=false
# Allow these packages to run their native build scripts
modules-allow-build=esbuild,sharp
# Ensure optional dependencies are NOT omitted
side-effects-cache=false
ignore-scripts=false
